<nav class="navbar navbar-expand-lg" style="background-color: rgb(0, 0, 0);" >
    <a class="navbar-brand" routerLink="post-list" style="color:rgb(255, 255, 255)" >MANLAPAZ</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
        <a routerLink="/post-list"  class="nav-link" style="color:white" >Home</a>
        </li>
        <li class="nav-item">
        <a routerLink='/post-add' class="nav-link" style="color:white" >Create Post  </a>
    </li>   
    </ul>

    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-success" type="submit" >Search</button> 
       <!-- <button class="nav-link btn btn-outline-success" type="submit" (click)="onSave()">SAVE</button> &nbsp;&nbsp;
      <button class="nav-link btn btn-outline-success" type="submit" (click)="onFetch()">GET</button> &nbsp;&nbsp;  -->
    </form>
      <button routerLink='/signin' class="nav-link btn btn-outline-success" type="submit" style="color:white">Sign In</button>
      <a routerLink='/authentication' class="nav-link btn btn-outline-success" style="color:white">Sign Up</a>
      
      <button class="theme" (click)="toggleTheme()"> 
      <i  [ngClass]="{'fas fa-lightbulb': !isDarkTheme(), 'fas fa-moon': isDarkTheme()}"></i>
      </button>
   

  </div>
</nav>