<div class="signin-container">
  <h2>Sign In</h2>
  <form (submit)="signIn(email, password); $event.preventDefault()">
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" id="email" name="email" [(ngModel)]="email" required>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" id="password" name="password" [(ngModel)]="password" required>
    </div>
    <button type="submit">Sign In</button>
      <p class="text-center text-muted mt-5 mb-0">Don't have an account? <a routerLink='/authentication' >Register</a></p>
  </form>
