.title{
    text-align: justify;
    align-items: center;
    font-size: 20px;
    margin-top: 5%;
    margin-left: 55%;
}

.img-responsive{
    box-shadow: 5px 5px 20px 20px #f5000040;
    margin-left:10vh;
    width: 80vh;
}

.description{
    margin-left: 15%;
}

.author{
    margin-left: 20%;
}
.date{
    margin-left: 20%;
}

.btn.btn-outline-primary{
    margin-left: 30%; 
}
.forms{
    margin-left: 20%;
}
.btn.btn-primary{
    margin-left: 100px;
}
