.dark-theme {
    background-color: #27213c;
    color: #fdfbfb;
  }

  .theme{
    background-color: transparent;
    border: none;
    outline: none;
    margin-left: 5px;
    color: #ffffff;
  }

  .nav-link.btn.btn-outline-success{
    margin-left: 15px;
  }

  .btn.btn-success{
    margin-left: 15px;
  }

  i{
    color:white;
    font-size: 1.5rem;
    margin-right: 10px;
  }
  

  